.event {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px 15px;
}

@media (min-width: 1220px) {
	.event {
		flex-direction: row;
		gap: 30px;
	}
}



.event__main-card {
	padding: 25px;

	background-position: right bottom;
	background-repeat: no-repeat;
}

.event__main-card--hand {
	background: url('../images/main/event/hand.png') no-repeat right bottom, linear-gradient(104deg, #4D506C 0.54%, #212339 66%);
}

.event__main-card--head {
	background: url('../images/main/event/head.png') no-repeat right bottom, linear-gradient(79deg, #4D506C -60%, #212339 100%);
	backdrop-filter: blur(26px);
}

.event__title {
	max-width: 210px;

	font-size: 22px;
	line-height: 1;
}

.event__text {
	max-width: 213px;
}

.event__button--smal {
	max-width: 93px;

	font-size: 14px;
	line-height: 14px;
}

.event__button--large {
	font-size: 14px;
	line-height: 14px;
}

@media (min-width: 1220px) {
	.event__main-card {
		max-width: 632px;
		width: 100%;
		padding: 50px;
		gap: 35px;
		justify-content: space-between;
	}

	.event__main-card--hand {
		background: url('../images/main/event/hands-desctop.png') no-repeat right bottom, linear-gradient(104deg, #4D506C 0.54%, #212339 66.94%);
	}

	.event__main-card--head {
		background: url('../images/main/event/hand-decktop.png') no-repeat right bottom, linear-gradient(79deg, #4D506C -60%, #212339 100%);
		backdrop-filter: blur(26px);
	}

	.event__title {
		max-width: 389px;

		font-size: 42px;
	}

	.event__text {
		max-width: 377px;
	}

	.event__button--smal {
		max-width: 139px;

		font-size: 16px;
	}

	.event__button--large {
		font-size: 16px;
	}
}
