.event {
	padding: 30px 0;
		display: flex;
		flex-direction: column;
		gap: 15px;
}

.event__main-card {
	padding: 25px;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.event__main-card--hand {
	background: url('../images/main/event/hand.png') no-repeat right bottom,
		linear-gradient(104.9deg, #4D506C 0.54%, #212339 66.94%);
}

.event__main-card--head {
	background: url('../images/main/event/head.png') no-repeat right bottom,
		linear-gradient(79.81deg, #4D506C -60%, #212339 100.33%);
	backdrop-filter: blur(26.0819px);
}

.event__title {
	font-size: 22px;
	line-height: 105.5%;
	max-width: 210px;
}

.event__text {
	max-width: 213px;
}

.event__button--smal {
	max-width: 93px;
	font-size: 14px;
	line-height: 14px;
}

.event__button--large {
	max-width: 191px;
	font-size: 14px;
	line-height: 14px;
}

@media (min-width: 1220px) {
	.event__content {
		flex-direction: row;
		gap: 30px;
	}

	.event__main-card {
		max-width: 632px;
		width: 100%;
		padding: 50px;
		gap: 25px;
		justify-content: space-between;
	}

	.event__main-card--hand {
		background: url('../images/main/event/hands-desctop.png') no-repeat right bottom,
			linear-gradient(104.9deg, #4D506C 0.54%, #212339 66.94%);
	}

	.event__main-card--head {
		background: url('../images/main/event/hand-decktop.png') no-repeat right bottom,
			linear-gradient(79.81deg, #4D506C -60%, #212339 100.33%);
		backdrop-filter: blur(26.0819px);
	}

	.event__title {
		font-size: 42px;
		max-width: 389px;
	}

	.event__text {
		max-width: 377px;
	}

	.event__button--smal {
		max-width: 139px;
		font-size: 16px;
	}

	.event__button--large {
		max-width: 236px;
		font-size: 16px;
	}

}
