.hero {
	min-height: 100vh;
	background-image: url('../images/main/hero/bg.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 26px;
	text-align: center;
}

@media (min-width: 1220px) {
	.hero__container {
		gap: 44px;
	}
}

.hero__title {
	max-width: 330px;
	padding-top: 104px;
}

@media (min-width: 1220px) {
	.hero__title {
		max-width: 934px;
		padding-top: 404px;
	}
}

.hero__text {
	max-width: 282px;
}

@media (min-width: 1220px) {
	.hero__text {
		max-width: 500px;
	}
}

.hero__icon-wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero__icon-wrapper_subject_metamask {
	top: 14px;
	left: 7px;
}

@media (min-width: 1220px) {
	.hero__icon-wrapper_subject_metamask {
		top: 100px;
		left: 100px;
	}
}

.hero__link-wallet {
	width: 48px;
	height: 48px;
	background-position: center center;
	background-repeat: no-repeat;
}

@media (min-width: 1220px) {
	.hero__link-wallet {
		width: 90px;
		height: 90px;
	}
}

.hero__link-wallet_subject_metamask {
	margin-bottom: -6px;
	background-image: url('../images/main/hero/metamask-mob.png');
	background-color: #fff;
	border-radius: 50%;
}


@media (min-width: 1220px) {
	.hero__link-wallet_subject_metamask {
		background-image: url('../images/main/hero/matamask.png');
		background-color: #fff;
		border-radius: 50%;
	}
}











.hero__span {
	padding: 7px 15px;
	font-size: 10px;
	background: #212339;
	box-shadow: 13.0435px 14.5946px 11.7391px rgba(24, 26, 55, 0.53);
	border-radius: 50px;
}

@media (min-width: 1220px) {
	.hero__span {
		font-size: 18px;
		box-shadow: 20px 30px 18px rgba(24, 26, 55, 0.63);
	}
}

















.hero__span-svg {
	position: relative;
	padding: 7px 15px 7px 28px;
}

@media (min-width: 1220px) {
	.hero__span-svg {
		padding: 7px 15px 7px 38px;
	}
}

.hero__span-svg:before {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 10px;
	position: absolute;
	width: 10px;
	top: 50%;
	left: 10%;
	transform: translateY(-50%)
}

.hero__span_name_gambiling {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 70%;
}

@media (min-width: 1220px) {
	.hero__span_name_gambiling {
		left: 0;
	}
}

.hero__span_name_gambiling::before {
	background-image: url('../images/main/hero/game.svg');
}


.hero__span_name_finance {
	position: absolute;
	top: 20%;
	left: 40%;
}

@media (min-width: 1220px) {
	.hero__span_name_finance {
		top: 0;
		left: 40%;
	}
}

.hero__span_name_finance::before {
	background-image: url('../images/main/hero/finance.svg');
}


.hero__link-wallet_subject_panke {
	background-image: url('../images/main/hero/panke-mob.png');
	bottom: 30%;
	left: 13%;
}

@media (min-width: 1220px) {
	.hero__link-wallet_subject_panke {
		background-image: url('../images/main/hero/panke.png');
		bottom: 4%;
		left: 11%;
	}
}

.hero__span_name_1548 {
	position: absolute;
	bottom: 30%;
	left: 15%;
}

@media (min-width: 1220px) {
	.hero__span_name_1548 {
		position: absolute;
		bottom: 0;
		left: 10%;
	}
}

.hero__span_name_market {
	position: relative;
	left: 10%;
	bottom: 0;
}

.hero__span_name_market::before {
	background-image: url('../images/main/hero/market.svg');
}

.hero__link-wallet_subject_curve {
	background-image: url('../images/main/hero/curve-mob.png');
	bottom: 25%;
	right: 7%;
}

@media (min-width: 1220px) {
	.hero__link-wallet_subject_curve {
		background-image: url('../images/main/hero/curve.png');
		bottom: 8%;
		right: 11%;
	}
}

.hero__span_name_842 {
	position: absolute;
	bottom: 25%;
	right: 10%;
}

@media (min-width: 1220px) {
	.hero__span_name_842 {
		bottom: 5%;
		right: 10%;
	}
}

.hero__link-wallet_subject_uni {
	background-image: url('../images/main/hero/uni-mob.png');
	top: 16%;
	right: 9%;
}

@media (min-width: 1220px) {
	.hero__link-wallet_subject_uni {
		background-image: url('../images/main/hero/uni.png');
		top: 13%;
		right: 14%;
	}
}

.hero__span_name_0 {
	position: absolute;
	top: 25%;
	right: 15%;
}
