.last__link {
	display: none;
}

.last__top {
	margin-bottom: 15px;
}

.last__content-top {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.last__img--balanse {
	min-height: 135px;
	background-image: url('../images/main/last/balanse.png');
}

.last__img--porto {
	min-height: 135px;
	background-image: url('../images/main/last/porto.png');
}

@media (min-width: 1220px) {
	.last {
		padding: 96px 0;
	}

	.last__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 55px;
	}

	.last__link {
		display: inline-flex;
		padding: 8px 30px;
		margin-right: 42px;

		border: 1px solid #FFFFFF;
		border-radius: 50px;
	}


	.last__content-top {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
	}

	.last__grid-item:nth-child(5n+4) {
		grid-column: span 2;
	}

}
