.main-card {
	background: #37394D;
	backdrop-filter: blur(26.0819px);
	border-radius: 15.8072px;
	padding: 15px;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 13px;
}

.main-card__img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	display: flex;
	padding: 11px;
	text-align: left;
	flex-direction: column;
	justify-content: space-between;
}

.main-card__button {
	font-size: 10px;
	line-height: 13px;
	padding: 4px 12px;
}

.main-card__title {
	font-size: 20px;
	line-height: 105.5%;
	overflow: hidden;
}

/* .main-card__text {

} */

.main-card__info {
	font-size: 12px;
	display: inline-flex;
	align-items: center;
	gap: 25px;
}

.main-card__time {
	padding-left: 20px;
	position: relative;
}

.main-card__time::before {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 12px;
	position: absolute;
	width: 12px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-image: url('../images/main/slider/time.svg');
}

.main-card__link-btn {
	padding: 8px 19px;
	background-color: #212339;
	border-radius: 50px;
	max-width: 174px;
	font-size: 14px;
	line-height: 18px;
	position: relative;
}

.main-card__link-btn--small {
	max-width: 119px;
}

.main-card__link-btn::after {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 4px;
	position: absolute;
	width: 4px;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	background-image: url('../images/main/last/arrow.svg');
}


@media (min-width: 1220px) {
	.main-card {
		padding: 30px;
	}

	/* .main-card__img {

	} */

	.main-card__button {
		font-size: 14px;
		line-height: 13px;
		padding: 7px 23px;
	}

	.main-card__title {
		font-size: 30px;
		max-width: 534px;
	}

	.main-card__info {
		font-size: 14px;
		gap: 20px;

	}

	.main-card__time {
		padding-left: 28px;
		font-size: 18px;
	}


	.main-card__time::before {
		height: 16px;
		width: 16px;
		background-image: url('../images/main/slider/time-desktop.svg');
	}

}
