.main-card {
	position: relative;

	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 14px;

	padding: 15px;
	width: 100%;

	text-align: left;
	background: #37394D;
	backdrop-filter: blur(26.0819px);
	background: linear-gradient(102.23deg, #4D506C 33.72%, #212339 100.64%);
	border-radius: 20px;
}

@media (min-width: 1220px) {
	.main-card {
		padding: 30px;
		gap: 30px;
	}
}

.main-card__img {
	display: block;

	width: 100%;
	height: 135px;

	border-radius: 20px;
	object-fit: cover;
}

@media (min-width: 1220px) {
	.main-card__img {
width: 100%;
		height: 210px;
	}

	.main-card__img_size_large {
		height: 268px;
		width: 100%;
	}

	.main-card__img_size_long {
		max-width: 344px;
		height: 158px;
	}
}

.main-card__tag {
	font-size: 10px;
	line-height: 1;
	padding: 4px 12px;
}

@media (min-width: 1220px) {
	.main-card__tag {
		font-size: 14px;
		padding: 7px 23px;
	}
}

.main-card__title {
	font-size: 20px;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main-card__title_size_large {
	font-size: 22px;
}

@media (min-width: 1220px) {
	.main-card__title {
		font-size: 30px;
	}

	.main-card__title_size_large {
		font-size: 42px;
	}
}

.main-card__info {
	font-size: 12px;
	display: inline-flex;
	align-items: center;
	gap: 25px;
}

.main-card__time {
	padding-left: 19px;
	position: relative;
}

.main-card__time::before {
	content: " ";
	position: absolute;
	top: 50%;
	left: 0;
	background-position: center center;
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	transform: translateY(-50%);
	background-image: url('../images/interesting/clock-smal.svg');
}

@media (min-width: 1220px) {
	.main-card__time {
		padding-left: 26px;
	}

	.main-card__time::before {
		height: 16px;
		position: absolute;
		width: 16px;
		background-image: url('../images/main/slider/time.svg');
	}
}

.main-card__link-btn {
	padding: 8px 19px;
	background-color: #212339;
	border-radius: 50px;
	max-width: 174px;
	font-size: 14px;
	line-height: 18px;
	position: relative;
	margin-top: auto;
}

.main-card__link-btn--small {
	max-width: 119px;
}

.main-card__link-btn::after {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 4px;
	position: absolute;
	width: 4px;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	background-image: url('../images/main/last/arrow.svg');
}

.main-card__tag-wrapper_position_top {
	position: absolute;

	top: 27px;
	left: 24px;
}

.main-card__tag-wrapper_position_bottom {
	position: absolute;

	top: unset;
	bottom: 117px;
	left: 24px;
}

.main-card__tag-wrapper {
	--gap: 5px;

	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
	align-items: flex-start;
}

@media (min-width: 768px) { /* tablet */
	.main-card__tag-wrapper {
		--gap: 12px;
	}
}

@media (min-width: 1220px) {
	.main-card__tag-wrapper {
		order: 3;
		margin-top: auto;
	}

	.main-card__tag-wrapper_position_bottom,
	.main-card__tag-wrapper_position_top {
		position: static;
		bottom: 0;
	}

	.main-card__info {
		order: -1;
	}
}

.main-card__img-link_order_top {
	order: -2;
	margin-top: 0;
}

.interesting__content .main-card {
	justify-content: flex-start;
}