.manual {
	margin-bottom: 30px;
}

@media (min-width: 1220px) {
	.manual {
		margin-bottom: 100px;
	}

}

.manual__main-card {
	padding: 25px;

	background-position: right bottom;
	background-repeat: no-repeat;
}

.manual__main-card--book {
	background: url('../images/main/manual/book.png') no-repeat right bottom, linear-gradient(79deg, #4D506C -60%, #212339 100%);
	backdrop-filter: blur(26px);
}

.manual__main-card--coobs {
	background: url('../images/main/manual/cubs.png') no-repeat right bottom, linear-gradient(79deg, #4D506C -60%, #212339 100%);
	backdrop-filter: blur(26px);
}

.manual__content {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.manual__title {
	max-width: 210px;

	font-size: 22px;
	line-height: 105.5%;
}

.manual__text {
	max-width: 213px;
}

.manual__button {
	max-width: 188px;

	font-size: 14px;
	line-height: 14px;
}

@media (min-width: 1220px) {

	.manual__content {
		flex-direction: row;
		gap: 30px;
	}

	.manual__main-card {
		padding: 76px 50px;
		max-width: 632px;
		width: 100%;
		gap: 35px;
	}

	.manual__title {
		max-width: 401px;

		font-size: 42px;
		line-height: 105.5%;
	}

	.manual__text {
		max-width: 265px;
	}

	.manual__main-card--book {
		background: url('../images/main/manual/book-desk.png') no-repeat right bottom, linear-gradient(79deg, #4D506C -60%, #212339 100%);
		backdrop-filter: blur(26px);
	}
}
