.manual {
	margin-bottom: 30px;
}

.manual__main-card {
	padding: 25px;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.manual__main-card--book {
	background-image: url('../images/main/manual/book.png');
}

.manual__main-card--coobs {
	background-image: url('../images/main/manual/cubs.png');
}

.manual__content {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.manual__title {
	font-size: 22px;
	line-height: 105.5%;
	max-width: 210px;
}

.manual__text {
	max-width: 213px;
}

.manual__button {
	max-width: 146px;
	font-size: 14px;
	line-height: 14px;
}

@media (min-width: 1220px) {

	.manual__content {
		flex-direction: row;
		gap: 30px;
	}

	.manual__main-card {
		padding: 76px 50px;
		max-width: 632px;
		width: 100%;
		gap: 25px;
	}

	.manual__title {
		font-size: 42px;
		line-height: 105.5%;
		max-width: 401px;
	}

	.manual__text {
		max-width: 265px;
	}

	.manual__main-card--book {
		background-image: url('../images/main/manual/book-desk.png');
	}
}
