.manual {
	margin-bottom: 30px;
}

.manual__main-card {
	padding: 25px;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.manual__main-card--book {
	background-image: url('../images/main/manual/book.png');
}

.manual__main-card--coobs {
	background-image: url('../images/main/manual/cubs.png');
}

.manual__main-card:not(:last-child) {
	margin-bottom: 15px;
}

.manual__title {
	font-size: 22px;
	line-height: 105.5%;
	max-width: 210px;
}

.manual__text {
	max-width: 213px;
}

.manual__button {
	max-width: 146px;
	font-size: 14px;
	line-height: 14px;
}

