.swiper-button-prev,
.swiper-button-next {
	display: none;
}

.swiper {
	max-width: 1500px;
	min-height: 290px;
	position: relative;
}

.swiper-wrapper {
	gap: 12px;
	max-width: 1289px;
}

.slide__img--slide {
	min-height: 165px;
	background-image: url('../images/main/slider/meta-slide.png');
}


@media (min-width: 1220px) {

	.swiper-button-prev,
	.swiper-button-next {
		display: block;
	}

	.slide__img--slide {
		max-width: 671px;
		min-height: 290px;
		background-image: url('../images/main/slider/desktop-img.jpg');
	}

	.slide__img-link {
		position: absolute;
		bottom: 30px;
		left: 60%;
	}

	.slide__info {
		position: absolute;
		top: 30px;
		left: 60%;
	}

	.slider__main-card-title {
		max-width: 367px;
		top: 70px;
		left: 60%;
		position: absolute;
		font-size: 42px;
	}

	.swiper-slide {
		max-width: 1289px;
		margin-left: auto;
	}

	.swiper-wrapper {
gap: 24%;
	}


	.swiper-button {
		width: 55px;
		height: 55px;
		background-color: rgba(61, 64, 87, 1);
		border-radius: 50px;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('../images/main/slider/button-prev.svg');
	}

	.swiper-button-prev::after {
		display: none;
	}

	.swiper-button-next {
		transform: rotate(-180deg);
	}

	.swiper-button-next::after {
		display: none;
	}

}
