.swiper-button-prev,
.swiper-button-next {
	display: none;
}

@media (min-width: 1220px) {

	.swiper-button-prev,
	.swiper-button-next {
		display: block;
	}
}

.slider {
	position: relative;

	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
}

.slider .swiper-button {
	--display: none;

	display: var(--display);
}

@media (min-width: 768px) { /* tablet */
	.slider .swiper-button {
		--display: flex;
	}
}

.swiper {
	position: relative;

	max-width: 1280px;
	min-height: 290px;
}

.slide__card-img {
	max-width: 280px;
	min-height: 165px;
}

@media (min-width: 1220px) {
	.slide__card-img {
		max-width: 671px;
		min-height: 290px;
	}
}

.slider__main-card-title {
	position: absolute;

	bottom: 65px;
	left: 24px;
}

@media (min-width: 1220px) {
	.slider__main-card-title {
		position: absolute;
		top: 85px;
		left: 56%;

		max-width: 367px;
	}
}

@media (min-width: 1220px) {
	.slider__card-info {
		position: absolute;

		top: 22px;
		left: 56%;
	}
}

	.slider__card-tag-wrapper {
		position: absolute;

		top:30px;
		left: 30px;
	}


@media (min-width: 1220px) {
	.swiper-button {
		width: 55px;
		height: 55px;
		background-color: rgba(61, 64, 87, 1);
		border-radius: 50px;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('../images/main/slider/button-prev.svg');
	}

	.swiper-button-prev::after {
		display: none;
	}

	.swiper-button-next {
		transform: rotate(-180deg);
	}

	.swiper-button-next::after {
		display: none;
	}

	.slider__card-tag-wrapper {
		top: 80%;
		left: 56%;
	}
}

