.study {
	margin-bottom: 30px;
}

.study__title {
	font-size: 22px;
	line-height: 105.5%;
	margin-bottom: 18px;
}

.study__content {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.study-main-card__title {
	font-size: 20px;
	line-height: 105.5%;
	max-width: 227px;
}

.study__form {
	margin-bottom: 23px;
}

.study__form-button {
	top: 107px;
	right: 17%;
}

.study__text {
	max-width: 270px;
}

.main-card__link-btn--active {
	color: rgba(20, 34, 67, 1);
	background-color: #fff;
}

@media (min-width: 1220px) {

	.study__title {
		font-size: 42px;
		max-width: 877px;
		margin: 0 auto;
		margin-bottom: 40px;
	}



	.study__main-card {
		gap: 30px;
padding-bottom: 99px;
		width: 100%;

	}

	.study-main-card__title-wrap {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: auto;
	}


	.study__content {
		flex-direction: row;
		gap: 30px;
		justify-content: space-between;
	}

	.study-main-card__title {
		font-size: 30px;
		max-width: 329px;
	}


	.main-card__link-btn {
	position: absolute;
	bottom: 30px;
	}

}
