.page__body {
	background-color: #212339;
	color: #ffffff;
	font-family: 'FuturaPT';
	font-size: 16px;
	line-height: 1.3;
	margin: 0;
	padding-top: var(--header-height);
}

.container {
	max-width: 1330px;
	min-width: 325px;
	margin: 0 auto;
	padding: 0 15px;
}


@media (min-width: 1330px) {
	.page__body {
		font-size: 18px;
	}
}

.page__body_state_no-scroll {
	overflow-y: hidden;
}

.page__c-mobile-header,
.page__c-mobile-header-menu,
.page__c-mobile-header-auth {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: var(--z-index-level);
}

.page__c-mobile-header {
	--z-index-level: 10;
}

.page__c-mobile-header-menu,
.page__c-mobile-header-auth {
	--z-index-level: 11;

	bottom: 0;
}

.page__c-menu,
.page__c-mobile-search {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: var(--z-index-level);
}

.page__c-menu {
	--z-index-level: 20;
}

.page__c-mobile-search {
	--z-index-level: 35;
}

.page__c-mobile-info {
	--space-x: 5px;

	position: fixed;
	right: var(--space-x);
	left: var(--space-x);
	bottom: var(--mobile-menu);
	z-index: 99;
}

.page__blur {
	filter: blur(5px);
}

.page__c-main-header {
	--space: 30px;

	position: fixed;
	top: var(--space);
	right: var(--space);
	left: var(--space);
	z-index: 10
}