.footer__text_media_desktop,
.footer__social_media_desktop,
.footer__load_media_desktop,
.footer__text--smal {
	display: none;
}

.footer__text_size_smal,
.footer__text_media_desktop {
	font-size: 12px;
	opacity: 0.5;
}

.footer__img:not(:last-child) {
	margin-right: 10px;
}

.footer__button {
	font-family: 'NeueMachina';
	font-weight: 800;
}

.footer__img-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: #37394D;
	width: 138px;
	height: 49px;
	border-radius: 10px;
}

.footer {
	padding: 25px 0 25px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	font-family: 'NeueMachina';
}

@media (min-width: 768px) {
	.footer {
		align-items: flex-start;
	}
}

.footer__top {
	display: flex;
	justify-content: space-between;
	gap: 200px;
}

.footer__lang {
	padding-right: 15px;
	position: relative;
}

.footer__lang::after {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	width: 9px;
	top: 20%;
	right: 0;
	background-image: url('../images/footer/arrow.svg');
}

.footer__button {
	font-size: 20px;
	position: relative;
	padding-right: 20px;
}

.footer__button::after {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	width: 9px;
	bottom: 20%;
	right: 0;
	background-image: url('../images/footer/arrow.svg');
}

.footer__menu {
	padding-top: 20px;
	display: none;
	flex-direction: column;
	gap: 10px;
}

.footer__menu--yes {
	display: flex;
}


.footer__load {
	display: flex;
	gap: 10px;
}

.footer__social {
	display: flex;
	gap: 20px;
	justify-content: center;
}


.footer__icon {
	background-position: center center;
	background-repeat: no-repeat;
	height: 39px;
	width: 39px;
}

.footer__text_size_smal {
	max-width: 206px;
}

.footer__lang_media {
	display: block;
	position: relative;
	padding-right: 15px;
	font-family: 'NeueMachina';
	font-weight: 400;
}

.footer__lang_media::after {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	width: 9px;
	bottom: 44%;
	right: 0;
	background-image: url('../images/footer/arrow.svg');
}



@media (min-width: 1200px) {
	.footer__load,
	.footer__social,
	.footer__text_size_smal,
	.footer__button::after {
		display: none;
	}

	.footer__text--smal {
		max-width: 206px;
		font-size: 12px;
		opacity: 0.5;
		text-align: left;
		display: block;
	}

	.footer__load_media_desktop {
		display: flex;
		gap: 10px;
	}


	.footer {
		display: flex;
		justify-content: space-between;
		padding: 50px 0 50px;
		flex-direction: row;
	}

	.footer__top {
		display: flex;
		flex-direction: column;
		gap: 35px;
		align-items: flex-start;
	}

	.footer__lang_media {
		position: absolute;
		right: 0;
		padding-right: 16px;
		font-family: 'NeueMachina';
		font-weight: 400;
	}

	.footer__lang_media::after {
		content: " ";
		background-position: center center;
		background-repeat: no-repeat;
		height: 6px;
		border-radius: 50%;
		position: absolute;
		width: 9px;
		bottom: 44%;
		right: 0;
		background-image: url('../images/footer/arrow.svg');
	}


	.footer__text_media_desktop {
		max-width: 170px;
		text-align: left;
	}

	.footer__social_media_desktop {
		display: flex;
		gap: 13px;
		justify-content: center;
		margin-bottom: 16px;
	}

	.footer__icon {
		background-position: center center;
		background-repeat: no-repeat;
		height: 39px;
		width: 39px;
	}

	.footer__list {
		text-align: left;
	}


	.footer__menu {
		display: flex;
		flex-direction: column;
		gap: 19px;
		align-items: flex-start;
	}

	.footer__button {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.footer__lang {
		padding-right: 15px;
		font-family: 'NeueMachina';
		font-weight: 300;
	}
}

.footer__link {
	color: #ffffff;
}

.footer__social-link {
	--size: 39px;

	display: inline-flex;
	width: var(--size);
	height: var(--size);

	border-radius: 50%;
	background-color: #212339;
}

.footer__social-link svg {
	margin: auto;
}

.footer__list button {
	color: #ffffff;
}