.authorization {
	min-height: 1080px;
}


.authorization__title {
	margin-bottom: 44px;
	margin: 0 auto;
	max-width: 683px;
	padding-top: 100px;
	width: 100%;
	margin-bottom: 40px;
}


.authorization__subtitle {
	font-size: 18px;
	margin-bottom: 40px;
	margin: 0 auto;
	max-width: 510px;
	width: 100%;
	margin-bottom: 40px;
}

.authorization__content {
	background-color: rgba(45, 48, 71, 1);
	border-radius: 20px;
	margin: 0 auto;
	max-width: 411px;
	min-height: 462px;
	width: 100%;
}

.authorization__wrap {
	display: grid;
	grid-row-gap: 40px;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 50px;
	padding-top: 50px;
}

.authorization__linkWrap {
	min-height: 93px;
}

.authorization__text {
	color: rgba(143, 147, 164, 1);
	font-size: 18px;
	margin-bottom: 22px;
}

.authorization__linkWrap:hover {
	color: rgba(249, 229, 49, 1);
}

