.auth__link-wallet {
	display: inline-block;
	padding-top: 70px;
	position: relative;
	cursor: pointer;
}

.auth__link-wallet:hover {
	color: rgba(249, 229, 49, 1);
}

.auth__link-wallet::after {
	content: " ";
	background-color: white;
	background-position: center center;
	background-repeat: no-repeat;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	width: 60px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.auth__link-wallet_subject_metamask::after {
	background-image: url('../images/aut/metaMask.png');
}

.auth__link-wallet_subject_binance::after {
	background-image: url('../images/aut/binanceWallet.png');
}

.auth__link-wallet_subject_coinbase::after {
	background-image: url('../images/aut/coinbaseWallet.png');
}

.auth__link-wallet_subject_all::after {
	background-image: url('../images/aut/dots.svg');
}
