.authoriz {
	padding: 100px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.authoriz__title {
	max-width: 683px;
}

.authoriz__paragraph {
	max-width: 504px;
}
