.breadcrumb__list {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.breadcrumb__item::after {
	--space-x: 5px;

	content: ">";

	margin-right: var(--space-x);
	margin-left: var(--space-x);
}

.breadcrumb__item:last-child::after {
	content: none;
}

.breadcrumb__link {
	--text-decoration: none;

	color: #ffffff;
	font-weight: 300;
	text-decoration: var(--text-decoration);
}

.breadcrumb__link:hover {
	--text-decoration: underline;
}

.breadcrumb__link[aria-current="page"]:hover {
	--text-decoration: none;
}