.button {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 50px;
	color: rgba(33, 41, 67, 1);
	padding: 9px 43px;
	border: none;
	display: inline-block;
	text-decoration: none;
	outline: transparent;
}


.button_form_clear {
	border: 1px solid #FFFFFF;
	background-color: transparent;
	border-radius: 50px;
	color: rgba(255, 255, 255, 1);
}

.button_form_none {
	background-color: transparent;
	border-radius: 0;
	color: rgba(255, 255, 255, 1);
	padding: 0;
	border: none;
	display: inline-block;
}

.button:hover {
	cursor: pointer;
}
