.c-main-header {
	--display: none;

	display: var(--display);
}

@media (min-width: 1200px) {
	.c-main-header {
		--display: block;

		background-color: #30334c;
		border-radius: 100px;
	}

	.c-main-header__wrapper {
		--space-y: 29px;

		display: flex;
		align-items: center;
		padding-top: var(--space-y);
		padding-bottom: var(--space-y);
		gap: 34px;
	}

	.c-main-header__button {
		position: relative;

		display: flex;
		align-items: center;
		gap: 7px;
		padding-top: 0;
		padding-right: 14px;
		padding-bottom: 0;
		padding-left: 0;

		font-family: "NeueMachina";
		font-size: 16px;
		color: #ffffff;

		background-color: transparent;
		border: none;

		transition-property: transform;
		transition-duration: 0.75s;
	}

	.c-main-header__button_type_main {
		margin-right: 30px;
	}

	.c-main-header__button:hover {
		cursor: pointer;
	}

	.c-main-header__button::before {
		content: "";

		position: absolute;
		top: 50%;
		right: 0;

		width: 9px;
		height: 6px;

		background-image: url("data:image/svg+xml, %3Csvg class='c-main-header__button-icon' xmlns='http://www.w3.org/2000/svg' width='9' height='6' fill='none' aria-hidden='true' focusable='false' %3E%3Cpath d='M4.5 3.818 7.457.593a.737.737 0 1 1 1.086.996L5.237 5.196a1 1 0 0 1-1.474 0L.457 1.589A.737.737 0 1 1 1.543.593L4.5 3.818Z' fill='%23fff' /%3E%3C/svg%3E");

		transform: translateY(-50%);

		transition-property: transform;
		transition-duration: 0.5s;
	}

	.c-main-header__button:hover::before {
		transform: translateY(-50%) rotate(0.5turn);
	}

	.c-main-header__button-text {
		text-transform: uppercase;
	}

	.c-main-header__logotype {
		--space-x: auto;

		margin-right: var(--space-x);
		margin-left: var(--space-x);
	}

	.c-main-header__submenu {
		--display: none;

		position: absolute;
		bottom: 0;
		left: 0;

		display: var(--display);
		width: 329px;
		padding-top: 60px;

		transform: translateY(100%);
	}

	.c-main-header__submenu_type_external {
		width: 396px;
	}

	.c-main-header__button:hover .c-main-header__submenu {
		--display: flex;

		flex-wrap: wrap;
	}

	.c-main-header__submenu-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
		padding: 25px 20px;

		background-color: #ffffff;
		border-radius: 10px;
	}

	.c-main-header__submenu-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.c-main-header__external {
		gap: 5px;
	}

	.c-main-header__submenu-button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 6px 32px;

		border: 1px solid #182446;
		border-radius: 50px;
	}

	.c-main-header__submenu-button:hover {
		background-color: #e6e8f2;
		border-color: #e6e8f2;
	}

	.c-main-header__logotype {
		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);
	}

	.c-main-header__box {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 15px;
		margin-left: auto;
	}

	.c-main-header__form {
		position: relative;

		padding-left: 15px;
	}

	.c-main-header__form::before {
		content: "";

		position: absolute;
		top: 50%;
		left: 0;

		width: 1px;
		height: 15px;

		background-color: #9697a3;

		transform: translateY(-50%);
	}

	.c-main-header__form-input {
		--text-size: 0;
		--icon: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2591 9.93367L13 13.0384L12.0945 14L9.35419 10.8946C8.33458 11.7626 7.06636 12.2347 5.75957 12.2327C2.58029 12.2327 0 9.49261 0 6.11637C0 2.74014 2.58029 0 5.75957 0C8.93886 0 11.5191 2.74014 11.5191 6.11637C11.521 7.50411 11.0764 8.85089 10.2591 9.93367ZM8.97534 9.42941C9.78751 8.54246 10.2411 7.35353 10.2392 6.11637C10.2392 3.48769 8.23427 1.35919 5.75957 1.35919C3.28424 1.35919 1.27991 3.48769 1.27991 6.11637C1.27991 8.74437 3.28424 10.8736 5.75957 10.8736C6.92456 10.8755 8.04413 10.3938 8.87934 9.53135L8.97534 9.42941Z' fill='white'/%3E%3C/svg%3E%0A");
		--size: 30px;

		padding: 0;
		width: var(--size);
		height: var(--size);

		font: inherit;
		font-size: var(--text-size);
		color: #ffffff;

		border: 1px solid transparent;
		background-color: #454965;
		background-image: var(--icon);
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 5px;

		transition-property: width;
		transition-duration: 0.45s;
	}

	.c-main-header__form-input:focus {
		--space-x: 15px;
		--text-size: 16px;
		--icon: none;

		padding-right: calc(var(--space-x) * 2);
		padding-left: var(--space-x);
		width: 160px;

		border-color: rgba(69,73,101, 0.5);
		outline: none;
	}

	.c-main-header__form-reset {
		--display: none;
		--size: 15px;

		position: absolute;
		top: 50%;
		right: 5px;
		z-index: 10;

		display: var(--display);
		padding: 0;
		width: var(--size);
		height: var(--size);

		background-color: transparent;
		border: none;

		transform: translateY(-50%);
	}

	.c-main-header__form-reset:hover {
		cursor: pointer;
	}

	.c-main-header__form-input:focus ~ .c-main-header__form-reset {
		--display: flex;

		justify-content: center;
		align-items: center;
	}

	.c-main-header__user {
		position: relative;

		display: flex;
		flex-wrap: wrap;
		gap: 7px;
		align-items: center;
		padding-right: 15px;
	}

	.c-main-header__user::after {
		content: "";

		position: absolute;
		top: 50%;
		right: 0;

		width: 1px;
		height: 15px;

		background-color: #9697a3;

		transform: translateY(-50%);
	}

	.c-main-header__user-image {
		--size: 24px;

		width: var(--size);
		height: var(--size);

		border-radius: 50%;
	}

	.c-main-header__user-text {
		font-size: 16px;
	}

	.c-main-header__external {
		text-align: left;
	}
}
