.card {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 328px;
	width: 100%;
	padding: 15px;
	background: linear-gradient(119.35deg, #4D506C 49.8%, #212339 100.05%);
	border-radius: 20px;
	font-size: 12px;
}

.card__top {
	display: flex;
	gap: 20px;
	align-items: center;
}

.card__text {
	padding-left: 18px;
	position: relative;
}

.card__text::before {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 12px;
	position: absolute;
	width: 12px;
	top: 10%;
	left: 0;
	background-image: url('../images/interesting/clock-smal.svg');
}

.card__link_size_small {
	font-size: 12px;
	padding: 5px 13px 5px 24px;
}

.card__link_size_small::before {
	left: 13%;
}

.card__title {
	font-size: 20px;
	text-align: left;
}

.card__content {
	width: 100%;
	max-width: 298px;
	height: 135px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 20px;
}

.card__content--eth {
	background-image: url('../images/interesting/eth-mob.png');
}

.card__content--one {
	background-image: url('../images/interesting/one-mob.png');
}

.card__content--matic {
	background-image: url('../images/interesting/matic-mob.png');
}


.card__img_name_portu {
	background-image: url('../images/content/portu-logo.png');
	max-width: 334px;
	width: 100%;
	height: 132px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.card__img_name_adt {
	background-image: url('../images/content/adt.png');
	max-width: 328px;
	width: 100%;
	height: 52px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	top: 10%;
	left: 0;
}

.card__img_name_porto-info {
	background-image: url('../images/content/porto-info.png');
	max-width: 328px;
	width: 100%;
	height: 156px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	top: 10%;
	left: 0;
	margin-bottom: 17px;
}

.card__img_name_video {
	background-image: url('../images/content/video.png');
	max-width: 328px;
	width: 100%;
	height: 156px;
	background-size: 100%;
	top: 10%;
	left: 0;
	margin-bottom: 17px;
}

.card__img_name_bay {
	background-image: url('../images/content/bay.png');
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	background-size: 100%;
	top: 10%;
	left: 0;
	margin-bottom: 17px;
	border-radius: 20px;
	max-width: 160px;
	height: 219px;
}

.card__img_name_sell {
	background-image: url('../images/content/sell.png');
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	top: 10%;
	left: 0;
	margin-bottom: 17px;
	border-radius: 20px;
	max-width: 160px;
	height: 219px;
}


.card__img_media_decktop {
	display: none;
}



@media (min-width: 1220px) {
	.card {
		display: flex;
		flex-direction: column;
		gap: 30px;
		max-width: 410px;
		padding: 30px 33px;
		background: linear-gradient(119.35deg, #4D506C 49.8%, #212339 100.05%);
		border-radius: 20px;
	}

	.card__img_media_decktop {
		display: block;
	}

	.card__link_size_small {
		font-size: 14px;
		padding: 5px 13px 5px 24px;
	}

	.card_level {
		font-size: 14px;
	}

	.card__top {
		display: flex;
		gap: 20px;
	}

	.card__text {
		padding-left: 28px;
		position: relative;
		font-size: 18px;
	}

	.card__text::before {
		content: " ";
		background-position: center center;
		background-repeat: no-repeat;
		height: 16px;
		position: absolute;
		width: 16px;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		background-image: url('../images/interesting/clock.svg');
	}

	.card__title {
		font-size: 30px;
		text-align: left;
	}

	.card__content {
		max-width: 350px;
		height: 290px;
	}

	.card__content--eth {
		background-image: url('../images/interesting/eth.png');
	}

	.card__content--one {
		background-image: url('../images/interesting/one.png');
	}

	.card__content--matic {
		background-image: url('../images/interesting/matic.png');
	}

	.card__img_name_portu {
		max-width: 630px;
		height: 250px;
	}

	.card__img_name_adt {
		background-image: url('../images/content/adt.png');
		max-width: 635px;
		width: 100%;
		height: 100px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%;
		top: 10%;
		left: 0;
	}

	.card__img_name_porto-info {
		background-image: url('../images/content/porto-info.png');
		max-width: 630px;
		width: 100%;
		height: 300px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%;
		top: 10%;
		left: 0;
		margin-bottom: 17px;
	}

	.card__img_name_video {
		background-image: url('../images/content/video.png');
		max-width: 630px;
		width: 100%;
		height: 300px;
		background-size: 100%;
		top: 10%;
		left: 0;
		margin-bottom: 17px;
	}

	.card__img_name_bay {
		background-image: url('../images/content/bay.png');
		background-position: center center;
		background-repeat: no-repeat;
		width: 100%;
		background-size: 100%;
		top: 10%;
		left: 0;
		margin-bottom: 17px;
		border-radius: 20px;
		max-width: 301px;
		height: 411px;
	}

	.card__img_name_sell {
		background-image: url('../images/content/sell.png');
		width: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%;
		top: 10%;
		left: 0;
		margin-bottom: 17px;
		border-radius: 20px;
		max-width: 301px;
		height: 411px;
	}
}
