

.content h1 {
	text-align: left;
	margin-bottom: 30px;
}

.content h2 {
	text-align: left;
	margin-bottom: 30px;
}

.content__text {
text-align: left;
margin-bottom: 35px;
}

.content__text p:not(:last-child) {
	margin-bottom: 30px;
}
