.filter__all-desktop {
	display: none;
}

.filter {
	margin: 0 auto;
	text-align: left;
	padding: 20px 10px;
}

.filter__button-none {
	display: none;
}

.filter__top {
	padding: 20px 0;
}

.filter__button {
	padding: 12px 22px;
	margin-right: 5px;

}

.filter__all {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 20px;
}

.filter__button-link {
	padding: 6px 20px;
	opacity: 0.6;
}

.filter__button-link_state_ok {
	opacity: 1;
}

.filter__level-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
}

.filter__time {
	margin-bottom: 20px;
	position: relative;
}

.filter__time-scrol {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 100px;
	position: relative;
}

.filter__time-scrol::before {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 3px;
	position: absolute;

	width: 100%;
	top: 50%;
	left: 2px;
	background-color: #fff;
}

.filter__clock--span1::before {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 13px;
	position: absolute;
	width: 2px;
	top: 46%;
	left: 46px;
	background-color: #fff;
}

.filter__clock--span2::before {
	left: 22%;
}

.filter__clock--span3::before {
	left: 39%;
}

.filter__clock--span4::before {
	left: 59%;
}

.filter__clock--span5::before {
	left: 80%;
}


.filter__time-scrol span:not(:last-child) {
	margin-right: 10px;
}

.filter__circle-left {
	position: absolute;
	top: 47px;
	left: 0;
}

.filter__circle-rights {
	position: absolute;
	top: 47px;
	right: -3px;
}

.filter__bottom-deck {
	display: block;
}

.filter__bottom {
	padding: 20px 16px;
	background-color: rgba(49, 52, 76, 1);
	display: flex;

	justify-content: space-around;
	position: relative;
}

.filter__bottom::after {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	width: 9px;
	top: 46%;
	right: 5%;
	/* transform: rotate(180deg); */
	background-image: url('../images/footer/arrow.svg');
	opacity: 0.5;
}

.filter__button-wrap {
	display: flex;
	gap: 15px;
}

.filter__button-clear {
	position: relative;
	padding-left: 22px;
	color: #A6A7B0;
}

.filter__button-clear::before {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 13px;
	position: absolute;
	width: 12px;
	top: 24%;
	left: 0;
	background-image: url('../images/filter/trash.svg');
}

@media (min-width: 1200px) {

	.filter__time-scrol span:not(:last-child) {
		margin-right: 41px;
	}

	.filter__button-none {
		display: inline-block;
	}

	.filter__bottom-inner {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.filter__all {
		gap: 12px;
	}

	.filter__bottom::after {
		right: 18%;
	}

	.filter__button-wrap {
		gap: 23px;
	}

	.filter__menu-span {
		margin-right: 25px;
		height: 23px;
	}

	.filter__bottom-button {
		font-size: 18px;
		color: rgba(166, 167, 176, 1);
	}

	.filter__all-desktop {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
	}

	.filter__inner {
		display: flex;
		justify-content: space-around;
	}

	.filter__top-inner {
		max-width: 611px;
		width: 100%;
	}

	.filter__level-inner {
		max-width: 611px;
		width: 100%;
	}
}
