.language-switcher {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 55px;
	row-gap: 15px;
}

.language-switcher__item {
	padding: 10px 15px;

	border-radius: 5px;
}

.language-switcher__item:hover {
	background-color: #e6e8f2;
}

.language-switcher__link {
	--text-color: #8f93a4;

	text-decoration: none;
	color: var(--text-color);
}

.language-switcher__link_state_active {
	--text-color: #212943;
}