.link {
	text-decoration: none;
	color: inherit;
	outline: transparent;
}

.link_color_yellow {
	color: #F9E531;
}

.link_level_new {
	padding: 5px 21px 7px 29px;
	color: rgba(255, 255, 255, 1);
	font-family: 'FuturaPT';
	font-weight: 450;
	background-color: #60AD76;
	opacity: 0.9;
	border-radius: 50px;
	position: relative;
}

@media (min-width: 768px) { /* tablet */
	.link_level_new {
		font-size: 18px;
	}
}

.link_level_new::before {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 5px;
	position: absolute;
	width: 5px;
	top: 50%;
	left: 17px;
	transform: translateY(-50%);
	background-color: #8CFCE2;
	border-radius: 50%;
}

.link_level_advanced {
	padding: 5px 21px 7px 29px;
	color: #ffffff;
	font-family: 'FuturaPT';
	font-weight: 450;
	background-color: #b18e1b;
	opacity: 0.9;
	border-radius: 50px;
	position: relative;
}

@media (min-width: 768px) { /* tablet */
	.link_level_advanced {
		font-size: 18px;
	}
}

.link_level_advanced::before {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 5px;
	position: absolute;
	width: 5px;
	top: 50%;
	left: 17px;
	transform: translateY(-50%);
	background-color: #FFC017;
	border-radius: 50%;
}

.link_level_pro {
	padding: 5px 21px 7px 29px;
	color: rgba(255, 255, 255, 1);
	font-family: 'FuturaPT';
	font-weight: 450;
	background-color: #602e3d;
	opacity: 0.8;
	border-radius: 50px;
	position: relative;
}

@media (min-width: 768px) { /* tablet */
	.link_level_pro {
		font-size: 18px;
	}
}

.link_level_pro::before {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 5px;
	position: absolute;
	width: 5px;
	top: 50%;
	left: 17px;
	transform: translateY(-50%);
	background-color: #D92B4D;
	border-radius: 50%;
}

