.popup {
	--z-index: -1;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: var(--z-index);

	display: flex;
}

.popup_state_active {
	--z-index: 1;
}

.popup__close:hover {
	cursor: pointer;
	color: yellow;
}

.popup__body {
	background: linear-gradient(160deg, #4D506C 15%, #212339 109%), #2B2C42;
	backdrop-filter: blur(33px);
	border-radius: 20px;
	text-align: center;

	position: relative;
	z-index: 999;

	padding: 45px;
	min-height: 200px;
	max-width: 478px;
	min-width: 200px;
	width: 100%;
	margin: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;

	display: none;
}

.popup__title {
	font-family: 'FuturaPT';
	font-weight: 600;
}

.popup__close {
	all: unset;

	position: absolute;
	right: 15px;
	top: 15px;
}

.popup__overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	padding: 15px;

	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;

	overflow: auto;
}

.popup__overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.popup__body--visible {
	display: flex;
}
