.popup-button {
	font-size: 42px;
	color: #E1E1E1;
	border: 1px solid white;
	padding: 10px
}

.popup {
	background: linear-gradient(160deg, #4D506C 15%, #212339 109%), #2B2C42;
	backdrop-filter: blur(33px);
	border-radius: 20px;
	text-align: center;

	position: relative;

	padding: 30px;
	margin: auto;
	min-height: 100px;
	max-width: 478px;
	min-width: 200px;

	display: flex;
	flex-direction: column;
	gap: 30px;
	display: none;
}

.popup__close {
	position: absolute;
	right: 15px;
	top: 0;

	color: #E1E1E1;
	font-size: 28px;
	font-weight: bold;
}


.btn {
	border: none;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	padding: 10px;
}

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;

	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal--visible {
	display: flex;
}
