.quiz {
	--gap: 30px;
	--space-y: 40px;

	display: flex;
	flex-direction: column;
	gap: var(--gap);
	padding-top: var(--space-y);
	padding-bottom: var(--space-y);
}

@media (min-width: 768px) {
	.quiz {
		--gap: 100px;
		--space-y: 80px;
	}
}

@media (min-width: 768px) { /* tablet */
	.quiz_type_card {
		align-items: center;
	}
}

.quiz__header {
	--row-gap: 35px;

	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	column-gap: 20px;
	row-gap: var(--row-gap);
}

@media (min-width: 768px) {
	.quiz__header {
		--row-gap: 100px;
	}
}

.quiz__title {
	grid-column: 1 / -1;
}

.quiz__content {
	--gap: 15px;

	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

@media (min-width: 768px) {
	.quiz__content {
		--gap: 50px;
	}
}

.quiz__grid {
	--columns: 1fr;
	--gap: 15px;

	display: grid;
	grid-template-columns: var(--columns);
	gap: var(--gap);
}

@media (min-width: 768px) {
	.quiz__grid {
		--columns: repeat(2, 1fr);
		--gap: 25px;
	}
}

@media (min-width: 1200px) {
	.quiz__grid {
		--columns: repeat(3, 1fr);
		--gap: 30px;
	}
}

.quiz__info {
	--padding: 20px;
	--space-y: 0;

	margin-top: var(--space-y);
	margin-bottom: var(--space-y);
	padding: var(--padding);
	max-width: 865px;

	background-color: #31344C;
	border-radius: 20px;
}

@media (min-width: 768px) {
	.quiz__info {
		--padding: 60px 115px;

		align-self: center;

		text-align: center;
	}
}

.quiz__link {
	color: #f9e312;
}

.quiz__link:hover {
	text-decoration: none;
}

.quiz__card {
	--gap: 25px;

	display: flex;
	flex-direction: column;
	gap: var(--gap);
	margin: 0;
}

@media (min-width: 768px) { /* tablet */
	.quiz__card {
		--gap: 30px;

		align-items: center;
	}
}

.quiz__card-image {
	--image-height: 192px;

	max-width: 350px;
	width: 100%;
	height: var(--image-height);

	border-radius: 19px;
}

@media (min-width: 768px) { /* tablet */
	.quiz__card-image {
		--image-height: 210px;
	}
}

.quiz__card-info {
	--gap: 18px;
	--direction: start;

	display: flex;
	flex-direction: column;
	align-items: var(--direction);
	gap: var(--gap);
}

@media (min-width: 768px) { /* tablet */
	.quiz__card-info {
		--gap: 25px;
		--direction: center;
	}
}

.quiz__card-text {
	--text-align: left;

	word-break: break-word;
	text-align: var(--text-align);
}

@media (min-width: 768px) { /* tablet */
	.quiz__card-text {
		--text-align: center;
	}
}