.middle {
	transform: translate(-50%, 50%);
	position: relative;
	top: -15px;
	min-width: 30px;
	height: 30px;
	left: 10px;
}

.middle:hover {
	background-color: #454965;
	border-radius: 5px;
}

.middle__label {
	display: none;
}


.search-box {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.input {
	width: 15px;
	height: 16px;
	background: none;
	border-radius: 50%;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	outline: none;
	transition: width 0.4s ease-in-out,
		border-radius 0.6s ease-in-out,
		padding 0.2s;
	transition-delay: 0.2s;
	color: white;
	font-size: 14px;
	display: flex;
	position: relative;
	left: 8px;
	top: 4px;
}

.inclicked {
	width: 160px;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	padding: 10px 15px;
	position: relative;
	left: 0;
	top: 0;
	height: 30px;
}

.btn {
	position: absolute;
	width: 13px;
	height: 14px;
	top: 5px;
	right: 6px;
	box-sizing: border-box;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn::before {
	content: "";
	width: 2px;
	height: 8px;
	background: #FFFFFF;
	position: absolute;
	transform: rotate(-45deg);
	bottom: -9px;
	right: 0px;
	transition: 0.3s;
}

.close::before,
.close::after {
	content: "";
	width: 2px;
	height: 10px;
	background: #FFFFFF;
	position: absolute;
	bottom: 0;
	right: 28px;
	right: 11px;
}

.close::before {
	transform: rotate(-45deg);
}

.close::after {
	transform: rotate(45deg);
}


@media (max-width: 1200px) {


	.close::before,
	.close::after {
		background: rgba(143, 147, 164, 1);
		height: 17px;

	}

	.btn::before {
		background: rgba(143, 147, 164, 1);
	}

	.inclicked {
		border: 1px solid rgba(143, 147, 164, 1);
	}

	.input {
		border: 2px solid rgba(143, 147, 164, 1);
	}

	.middle {
		display: none;
	}

	.input_media_mobile {
		width: 18px;
		height: 18px;
		margin-bottom: 1px;
		position: relative;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		background-color: rgba(143, 147, 164, 1);
	}

	.search-box_media_mobile {
		position: relative;
		left: 16px;
	}

	.middle_media_mobile {
		display: block;
	}

	.btn_media_mobile {
		right: 58%;
		top: 3px;
		width: 20px;
		height: 20px;
	}

	.middle__label {
		display: block;
		font-size: 12px;
		color: rgba(143, 147, 164, 1);
		position: static;
		left: 30px;
	}

	.middle__label_media_mobilenone {
		display: none;
	}

	.inclicked {
		width: 300px;
		background-color: transparent;
		margin: 0;
		top: 0;
		border: 2px solid #8F93A4;
		border-radius: 50px;
		transform: translateX(0);
		height: 40px;
	}

	.close {
		right: 23%;
		top: 17px;
	}



}
