.glossary {
	text-align: left;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}


.glossary__top {
	max-width: 328px;
	text-align: left;
	padding-left: 52px;
	position: relative;
	margin-bottom: 30px;
	opacity: 0.8;
}

.glossary__top::before {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 30px;
	position: absolute;
	width: 30px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-image: url('../images/content/arov-mob.png');
	border-radius: 50%;
}

.glossary_title {
	font-size: 30px;
	margin-right: 0;
}

.glossary__nav {
	background-color: #31344C;
	width: 100%;
}

.glossary__nav-wrap {
	display: flex;
	flex-direction: column;
	gap: 3px;
	position: relative;
	padding: 16px 27px;
	gap: 15px;
	align-items: center;
}


.glossary__search {
	display: inline-flex;
	max-width: 100%;
	justify-content: space-between;
	gap: 22px;
}

.glossary__input {
	all: unset;
	padding: 12px 100px 12px 26px;
	border: 1px solid #8F93A4;
	backdrop-filter: blur(4px);
	border-radius: 20px;
	position: relative;
}

.glossary__input::placeholder {
	color: rgba(143, 147, 164, 1);
}

.glossary__text {
	font-size: 18px;
	font-weight: 300;
}

.glossary__text p:not(:last-child) {
	margin-bottom: 30px;
}

.glossary__form-button {
	position: absolute;
	top: 30px;
	right: 25%;
}

.glossary__alphabet {
	padding-left: 20px;
	flex-wrap: wrap;
	column-gap: 22px;
	row-gap: 8px;
	max-width: 320px;
	margin: 0 auto;
	display: none;
}


.glossary__alphabet--yes {
	display: flex;
}

.glossary__alphabet-link {
	all: unset;
	color: rgba(143, 147, 164, 1);

}

.glossary__category {
	display: flex;
	flex-direction: column;
	gap: 30px;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding-bottom: 30px;
}

.glossary__nav-button {
	transition-duration: 0.5s;
}

.glossary__nav-button--rot {
	transform: rotate(180deg);
}

.glossary__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.glossary__content-wrap {
	display: flex;
	flex-direction: column;
	gap: 18px;
	position: relative;
	max-width: 327px;
}

.glossary__content-wrap--first {
	padding-top: 71px;
}

.glossary__line {
	background-color: rgba(143, 147, 164, 1);
	height: 1px;
	width: 100%;
	opacity: 0.5;

}

.glossary__pretitle-wrap {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 18px;
}


.glossary__pretitle {
	font-size: 22px;
	position: relative;
}

.glossary__pretitle-button {
	position: absolute;
	right: 5%;
	transition-duration: .5s;
}

.glossary__content-wrap--nomobile {
	display: none;
}


.alpha__text {
	font-size: 45px;
	color: #606378;
	position: absolute;
	left: 15px;
	top: 0;
}

.glossary__text--non {
	display: none;
}

.glossary__text--yes {
	display: block;
}

.glossary__vector--rotate {
	transform: rotate(180deg);
	transition-duration: 0.5s;
}




@media (min-width: 1200px) {

	.glossary__category {
		display: flex;
		flex-direction: column;
		gap: 70px;
		border-bottom: 1px solid #ccc;
		width: 100%;
		padding-bottom: 100px;
	}

	.glossary__text--non {
		padding: 0 190px 0 36px;
		border-radius: 20px;
	}


	.glossary__pretitle-wrap {
		gap: 30px;
		padding: 31px 36px;
		border-radius: 20px;
		box-sizing: inherit;
	}

	.glossary__pretitle-wrap:hover {
		background-color: rgba(49, 52, 76, 1);
		cursor: pointer;
	}


	.glossary__top-wrap {
		width: 100%;
	}

	.glossary__content-wrap--nomobile {
		display: flex;
	}

	.glossary {
		align-items: flex-start;
		gap: 100px;
	}

	.glossary_title {
		font-size: 60px;
		max-width: 583px;
	}


	.glossary__nav-wrap {
		display: flex;
		gap: 40px;
		width: 100%;
		padding: 0;
		justify-content: space-between;
		flex-direction: row;
		padding: 20px 0;
	}

	.glossary__alphabet {
		flex-direction: row;
		align-items: center;
		max-width: 881px;
		display: flex;
		margin: 0;
		padding-left: 0;
		gap: 25px;
	}

	.glossary__nav-button {
		display: none;
	}

	.glossary__input {
		padding-right: 177px;
	}

	.glossary__form-button {
		top: 33px;
		right: 75%;
	}

	.glossary__content-wrap {
		max-width: 1050px;
		padding: 0 0 0 180px;
		width: 100%;
	}

	.glossary__pretitle {
		font-size: 30px;
	}

	.glossary__text {
		font-size: 20px;
		max-width: 616px;
	}

	.glossary__content {
		box-sizing: border-box;
	}

	.alpha {
		padding-top: 0;
	}

	.alpha__text {
		font-size: 63px;
		color: #606378;
		position: absolute;
		left: 0;
		top: 0;
	}

	.glossary__line {
		margin: 100px 0;
	}


	.glossary__pretitle-button {
		right: 20%;
		top: 50px;
	}
}
