.content h1 {
	text-align: left;
	font-size: 30px;
}

.content h2 {
	text-align: left;
	margin-bottom: 30px;
}

.content__text {
	text-align: left;
	margin-bottom: 35px;
	max-width: 400px;
}

.content__text p:not(:last-child) {
	margin-bottom: 30px;
}

.content {
	position: relative;
	padding: 50px 0;
}


.content__wrap {
	margin: 0 auto;
}


.content__discus {
	position: fixed;
	bottom: 0;
	right: 10%;
}

.content__card {
	background: none;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 25px 0;
}

.content__button-wrap {
	text-align: left;
	font-size: 12px;
}

.content__button {
	padding: 4px 9px;
}

.content__nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	font-size: 18px;
	gap: 20px;
	margin-bottom: 30px;
}

.content__nav-button {
	opacity: 0.5;
	position: relative;
	padding-right: 15px;
}

.content__nav-button::after {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	width: 9px;
	top: 30%;
	right: 0;
	background-image: url('../images/footer/arrow.svg');
}

.content__menu {
	display: none;
}

.content__menu--yes {
	display: block;
}

.content__menu--active {
	display: block;
}

.content__link {
	color: rgba(143, 147, 164, 1);
	font-size: 18px;
}

.content__line {
	background-color: #fff;
	opacity: 0.5;
	width: 100%;
	height: 1px;
	margin: 15px 0;
}

.content__buy {
	margin-bottom: 35px;
}

.content__card-wrap {
	display: flex;
	gap: 8px;
}

.content__social {
	display: flex;
	justify-content: space-between;

}

.content__social-wrap {
	display: flex;
	gap: 25px;
}

.content__button-svg {
	display: flex;
	align-items: center;
	gap: 9px;
}



@media (min-width: 1220px) {

	.content__menu {
		display: none;
	}

	.container {
		position: relative;
	}

	.content h1 {
		font-size: 48px;
		max-width: 597px;
	}

	.content h2 {
		font-size: 42px;
		max-width: 597px;
		text-align: left;
	}

	.content__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.content__top {
		font-size: 18px;
		max-width: 100%;
		margin-bottom: 40px;
	}

	.content__text {
		max-width: 634px;
		font-size: 18px;
	}

	.content__card {
		max-width: 634px;
		padding: 30px 5px;
		gap: 30px;
		margin-bottom: 25px;
	}

	.content__nav {
		position: absolute;
		right: 10%;
		top: 0;
	}

	.content__social {
		flex-direction: column;
		position: absolute;
		right: 13%;
		top: 70px;
		gap: 31px;
	}

	.content__social-wrap {
		flex-direction: column;
		gap: 31px;
	}

	.content__button-wrap {
		font-size: 18px;
	}

	.content__text_size_big {
		font-size: 20px;
	}

}
