.content h1 {
	text-align: left;
	font-size: 30px;
}

.content h2 {
	text-align: left;
	margin-bottom: 30px;
}

.content__text {
	text-align: left;
	margin-bottom: 35px;
}

.content__text p:not(:last-child) {
	margin-bottom: 30px;
}

.content {
	position: relative;
	padding: 50px 0;
	padding-bottom: 45px;
}


.content__wrap {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 634px;

	box-sizing: content-box;
}

.content__wrap img {
	--space-y: 30px;

	width: 100%;

	object-fit: cover;
	border-radius: 10px;
	margin-bottom: var(--space-y);
}

.content__card img {
	margin-bottom: 0;
}

.content__discus {
	position: fixed;
	bottom: 0;
	right: 0;
}

.content__card {
	background: none;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 25px 0;
	max-width: none;
}

.content__button-wrap {
	text-align: left;
	font-size: 12px;
}

.content__button {
	padding: 6px 23px;
}

.content__nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	font-size: 18px;
	gap: 20px;
	margin-bottom: 30px;
}

.content__nav-button {
	opacity: 0.5;
	position: relative;
	padding-right: 15px;
	font-size: 18px;
}

.content__nav-button::after {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	width: 9px;
	top: 30%;
	right: 0;
	background-image: url('../images/footer/arrow.svg');
}

.content__nav-button:hover {
	opacity: 1;
}

.content__menu {
	display: none;
}

.content__menu--yes {
	display: block;
	width: 100%;
}

.content__menu--active {
	display: block;
}

.content__link {
	color: rgba(143, 147, 164, 1);
	font-size: 18px;
}

.content__link:hover {
	color: #fff;
}

.content__line {
	background-color: #fff;
	opacity: 0.5;
	width: 100%;
	height: 1px;
	margin: 15px 0;
}

.content__buy {
	margin-bottom: 35px;
}

.content__card-wrap {
	display: flex;
	gap: 8px;
}

.content__social {
	display: flex;
	justify-content: space-between;

}

.content__social-wrap {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.content__button-svg {
	display: flex;
	align-items: center;
	gap: 9px;
}

.content__button-svg svg:hover {
	stroke: #fff;
	fill: #fff;
}



@media (min-width: 1220px) {

	.content__menu {
		display: none;
	}

	.content__menu--yes {
		display: block;
	}

	.container {
		position: relative;
	}

	.content h1 {
		font-size: 48px;
	}

	.content h2 {
		font-size: 42px;
		text-align: left;
	}

	.content__top {
		font-size: 18px;
		max-width: 100%;
		margin-bottom: 40px;
	}

	.content__text {
		font-size: 18px;
	}

	.content__card {
		padding: 30px 5px;
		gap: 30px;
		margin-bottom: 25px;
	}

	.content__column {
		margin-top: calc(var(--content-nav-height) * -1);
	}

	.content__nav {
		--gap: 205px;

		position: sticky;
		right: 0;
		top: 20px;
		max-width: 174px;
		width: 100%;
		margin-left: auto;

		transform: translateX(calc(100% + var(--gap)));
	}

	.content__social {
		--gap: 205px;

		flex-direction: column;
		gap: 31px;
	}

	.content__social-wrap {
		flex-direction: column;
		gap: 31px;
	}

	.content__button-wrap {
		font-size: 18px;
	}

	.content__text_size_big {
		font-size: 20px;
	}
}

@media (max-width: 1119px) {
	.content__nav {
		order: 1;
	}
}

.content__box {
	--space-y: 36px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
	margin-bottom: 36px;
}

@media (min-width: 768px) { /* tablet */
	.content__box {
		--space-y: 40px;

		width: 100%;
	}
}

.content__share {
	--size: 30px;

	display: flex;
	width: var(--size);
	height: var(--size);
}

.content__share-icon {
	--icon-color: #8f93a4;

	margin: auto;
}

.content__share:hover .content__share-icon {
	--icon-color: #ffffff;
}