.education {
	padding: 25px 0;
}

.education__card {
	display: flex;
	max-width: 1296px;
	width: 100%;
	flex-direction: row;
}

.education__card:not(:last-child) {
	margin-bottom: 30px;
}


.education__img {
	max-width: 430px;
	width: 100%;
	height: 259px;
	background-image: url('../images/education/bitcoin.png');
	border-radius: 20px;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	top: 10%;
	left: 0;
}

.education__wrap {
	max-width: 653px;
	width: 100%;
	height: 260px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 18px;
	text-align: left;
}

.education__wrap h2 {
font-size: 30px;
}

.education__button-wrap a:not(:last-child) {
	margin-right: 10px;
}

