.education {
	padding: 25px 19px;
	text-align: left;
}

.education__inners {
	display: flex;
	flex-direction: column;
	gap: 12px;
	text-align: left;
	align-items: center;
	padding-top: 50px;
}

.education__card {
	display: flex;
	max-width: 328px;
	width: 100%;
	flex-direction: column;
	min-height: 349px;
	position: relative;
	padding: 15px;
}

.education__img {
	max-width: 298px;
	width: 100%;
	height: 135px;
	border-radius: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: 5%;
	right: 5%;
}

.education__img_inform_btc {
	background-image: url('../images/education/bitcoin.png');
}

.education__img_inform_mean {
	background-image: url('../images/education/mean.png');
}

.education__img_inform_ape {
	background-image: url('../images/education/ape.png');
}

.education__img_inform_game {
	background-image: url('../images/education/game.png');
}

.education__img_inform_women {
	background-image: url('../images/education/women.png');
}

.education__img_inform_woo {
	background-image: url('../images/education/woo.png');
}

.education__img_inform_coti {
	background-image: url('../images/education/coti.png');
}



.education__wrap {
	max-width: 295px;
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 15px;
}

.education__title {
	font-size: 20px;
	line-height: 1;
	font-family: 'NeueMachina';
	max-width: 325px;
	font-size: 20px;
	margin-bottom: 28px;
}

.education__button-wrap {
	position: absolute;
	bottom: 36%;
	left: 8%;
	font-size: 10px;
}

.education__link {
	border: 1px solid #FFFFFF;
	border-radius: 50px;
	padding: 9px 42px 6px 25px;
	position: relative;
	margin: 50px 0;

}

.education__link::before {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	width: 9px;
	top: 54%;
	right: 28px;
	background-image: url('../images/footer/arrow.svg');
}

.education__nav {
	display: flex;
	max-width: 229px;
	width: 100%;
}

.education__menu {
	display: flex;
	margin: 0 30px;
	gap: 20px;
	font-family: 'NeueMachina';
}

.education__nav-link {
	width: 39px;
	height: 39px;
	border-radius: 50%;

	text-align: center;
	padding-top: 10px;
}

.education__nav-link_focus_active {
	background-color: rgba(49, 52, 76, 1);
}


@media (min-width: 1220px) {
	.education {
		gap: 30px;
	}

	.education__button-wrap {
		font-size: 14px;
	}

	.education__inners {
		gap: 30px;
	}

	.education__card {
		max-width: 1296px;
		flex-direction: row;
	}

	.education__img {
		max-width: 430px;
		height: 259px;
		position: static;
	}

	.education__title {
		margin-bottom: 72px;
		max-width: 1290px;
		font-size: 42px;
	}

	.education__button-wrap {
		position: static;
	}

	.education__wrap {
		max-width: 653px;
		height: 260px;
	}

	.education__wrap p {
		font-size: 18px;
	}

	.education__button-wrap a:not(:last-child) {
		margin-right: 10px;
	}
}

.education__menu-button_state_hidden {
	display: none;
}