.header__button-deck,
.header__logo,
.header__button-learn,
.header__aut,
.header__button-leng,
.header__button-sedes,
.header__button-acc,
.header__menu-wrap {
	display: none;
}




.header__themes--noactive {
	display: none;
}

.header__menu-wrap {
	max-width: 350px;
	margin: 0 auto;
	margin-bottom: 210px;
}

.header__user-wrap {
	font-family: 'NeueMachina';
	font-size: 16px;
}


.header__menu-top {
	display: flex;
	justify-content: space-between;
	padding: 20px 16px;
}

.header__button-nav {
	font-size: 16px;
	position: relative;
	padding-right: 15px;
	font-family: 'NeueMachina';
	font-weight: 400;
}

.header__button-nav::after {
	content: " ";
	background-position: center center;
	background-repeat: no-repeat;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	width: 9px;
	top: 40%;
	right: 0;
	background-image: url('../images/footer/arrow.svg');
}

.header__button-nav.rotate::after {
	transform: rotate(180deg);
}

.header__themes {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	font-size: 16px;
	padding-left: 16px;
	margin-bottom: 30px;
}

.header__button-link {
	padding: 6px 19px;
}

.header__button-link--big {
	padding: 6px 33px;
}

.header__bottom {
	text-align: left;
	padding-left: 14px;
	font-family: 'NeueMachina';
	margin-bottom: 400px;
}

.header__item:not(:last-child) {
	margin-bottom: 30px;
}

.header__nav {
	background-color: rgba(55, 61, 90, 1);
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	gap: 47px;
	padding: 8px 23px;
	justify-content: space-between;
	z-index: 10;
}

.social__icon {
	margin-bottom: 4px;
}

.header__button-bottom {
	color: rgba(143, 147, 164, 1);
	font-family: 'Inter';
	font-size: 12px;
	display: inline-flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
}

.user-nav__wrap {
	margin-right: 13px;
	position: relative;
	width: 0px;
	height: 43px;
	line-height: 1.5;
	padding-right: 45px;
	border-radius: 5px;
	top: 0;
	transition: all 0.5s;
}

.user-nav__wrap.user-nav--active {
	width: 250px;
	padding-left: 25px;
	transition: all 0.5s;
	background: #FFF2ED;
	box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
	border-radius: 5px;
	background-color: #FF7A501A;
	text-indent: -9999px
}

.user-nav__input {
	border: none;
	background: transparent;
	width: 0%;
	font-size: 16px;
	color: greenyellow;
	transition: all 0.3s;
	position: relative;
	display: block;
	top: 10px;
}

.user-nav__input.user-nav--active {
	width: 98%;
	padding-left: 5px;
	transition: all 0.5s 0.8s;
}

.user-nav__search {
	position: absolute;
	right: 21px;
	top: 6px;
	font-size: 16px;
	cursor: pointer;
}

.user-nav__link {
	position: relative;
	padding: 12px;
	bottom: 2px;
	right: 4px;
	border-radius: 5px;
	transition: all 0.5s;
}

.header-mobile {
	z-index: 1;
}

.header-mobile__logo {
	display: block;
	margin-right: auto;
}

.header-mobile__menu {
	display: block;
	margin-right: 30px;
}

.header-mobile__leng {
	display: block;
	font-size: 16px;
	font-family: 'NeueMachina';
	font-weight: 300;
}

.header-mobile__content {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	align-items: center;
}

.header-mobile__nav {
	display: flex;
	gap: 30px;
}

.header-mobile__deck {
	display: block;
}

.header-mobile__lang {
	font-size: 16px;
	font-family: 'NeueMachina';
}

.header-mobile__search,
.header-mobile__auth {
	display: none;
}

.header__button--yes {
	display: block;
}

.header__button--no {
	display: none;
}

.header-mobile__input {
	border: 2px solid #FFFFFF;
}

.header-mobile__btn::before {
	background: #FFFFFF;
}

.header-nav__menu_yes {
	position: absolute;
	display: block;
}

.header__aut-none {
	display: none;
}

.header__aut-yes {
	display: flex;
	max-width: 370px;
}

@media (min-width: 1220px) {

	.header__button-onof,
	.header__nav,
	.header__themes_media_desk,
	.header__bottom,
	.header-mobile {
		display: none;
	}

	.header__button-learn,
	.header__button-acc,
	.header__button-leng,
	.header__button-sedes,
	.header__aut,
	.header__menu-wrap {
		display: block;
	}

	.header {
		margin-top: 30px;
		background: #40435F;
		border-radius: 100px;
		max-width: 1920px;
		margin: 30px auto;
	}


	.header__user-wrap {
		display: flex;
		gap: 34px;
		margin-bottom: 0;
	}

	.header__button-learn {
		position: relative;
		padding-right: 15px;
		font-family: 'NeueMachina';
		font-weight: 400;
		font-size: 16px;
	}

	.header__button-learn::after {
		content: " ";
		background-position: center center;
		background-repeat: no-repeat;
		height: 6px;
		border-radius: 50%;
		position: absolute;
		width: 9px;
		top: 40%;
		right: 0;
		background-image: url('../images/footer/arrow.svg');
	}

	.header__button-deck {
		position: relative;
		padding-right: 15px;
		margin-right: 20px;
	}

	.header__button-deck::after {
		content: " ";
		background-position: center center;
		background-repeat: no-repeat;
		height: 6px;
		border-radius: 50%;
		position: absolute;
		width: 9px;
		top: 40%;
		right: 0;
		background-image: url('../images/footer/arrow.svg');
	}

	.header__menu-top {
		padding: 17px;
	}

	.header__button-deck {
		display: inline-block;
	}

	.header__logotype {
		display: inline;
		margin-left: auto;
	}

	.header__user-nav {
		display: flex;
		gap: 30px;
		align-items: center;
		margin-left: auto;
		margin-right: 30px;
		position: relative;
	}

	.header__button-acc {
		position: relative;
	}

	.header__button-acc::before {
		content: " ";
		background-position: center center;
		background-repeat: no-repeat;
		height: 14px;
		background-color: #fff;
		position: absolute;
		width: 2px;
		top: 7px;
		right: -16px;
		opacity: 0.5;
	}

	.header__button-leng {
		padding-right: 15px;
		position: relative;
		font-family: 'NeueMachina';
		font-weight: 400;
		font-size: 16px;
	}

	.header__button-leng::after {
		content: " ";
		background-position: center center;
		background-repeat: no-repeat;
		height: 6px;
		border-radius: 50%;
		position: absolute;
		width: 9px;
		top: 40%;
		right: 0;
		background-image: url('../images/footer/arrow.svg');
	}

	.header__button-leng::before {
		content: " ";
		background-position: center center;
		background-repeat: no-repeat;
		height: 14px;
		background-color: #fff;
		position: absolute;
		width: 2px;
		top: 0;
		right: -16px;
		opacity: 0.5;
	}

	.header__menu-wrap {
		max-width: 1280px;
		width: 100%;
		z-index: 2;
	}

	.header__menu-wrap {
		margin-bottom: 0;
	}

	.header__aut:hover {
		color: #FFFFFF;
		background: #454965;
		border-radius: 5px;
	}

	.header__button-login {
		display: none;
		align-items: center;
		gap: 7px;
	}

	.header__button-name {
		font-size: 16px;
		font-family: 'NeueMachina';
		font-weight: 400;
	}

	.header__button--yes {
		display: flex;
	}

	header_display_non .header__button--no {
		display: none;
	}

}
